table th.settings_plugin_netconnectd_wifis_name, table td.settings_plugin_netconnectd_wifis_name {
    text-overflow: ellipsis;
    text-align: left
}

table th.settings_plugin_netconnectd_wifis_quality, table td.settings_plugin_netconnectd_wifis_quality {
    text-align: right;
    width: 70px
}

table th.settings_plugin_netconnectd_wifis_action, table td.settings_plugin_netconnectd_wifis_action {
    text-align: center;
    width: 100px
}

table th.settings_plugin_netconnectd_wifis_action a, table td.settings_plugin_netconnectd_wifis_action a {
    text-decoration: none;
    color: #000
}

table th.settings_plugin_netconnectd_wifis_action a.disabled, table td.settings_plugin_netconnectd_wifis_action a.disabled {
    color: #ccc;
    cursor: default
}

#settings_plugin_netconnectd_dialog > button {
    position: inherit;
    width: 198px;
    float: right;
    margin: 0 8px 6px 0;
}

/*Signal Bars*/
* {
    box-sizing: border-box;
}
.sizing-box {
    height: 20px;
    width: 30px;
    float: right;
}
.signal-bars {
    /*display: inline-block;*/
}
.signal-bars .bar {
    width: 14%;
    margin-left: 1%;
    min-height: 20%;
    display: inline-block;
    border: rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0.4);
}
.signal-bars .bar.first-bar {
    height: 20%;
}
.signal-bars .bar.second-bar {
    height: 40%;
}
.signal-bars .bar.third-bar {
    height: 60%;
}
.signal-bars .bar.fourth-bar {
    height: 80%;
}
.signal-bars .bar.fifth-bar {
    height: 99%;
}
.four-bars .bar.fifth-bar,
.three-bars .bar.fifth-bar,
.three-bars .bar.fourth-bar,
.one-bar .bar:not(.first-bar),
.two-bars .bar:not(.first-bar):not(.second-bar) {
    background-color: #fafafa;
    border: thin solid #f3f3f3;
}
/*Signal Bars*/
